node_modules
.log
_site
_data/results/*
_data/results-last-runs.json
package-lock.json
.env
.cache


_data/sites/AAeonnext.js
_data/sites/AAessent.js
_data/sites/BBenergiedirect.js
_data/sites/CCvandebron.js
_data/sites/DDenergiebranche.js
_data/sites/FFservicepartners.js
_data/sites/GGservicepartners2.js
_data/sites/XXenergieanbieter.js
.vercel
