node_modules
.log
_site
_data/results/*
_data/results-last-runs.json
package-lock.json
.env
.cache



_data/sites/DDenergiebranche.js
_data/sites/FFservicepartners.js
_data/sites/GGservicepartners2.js
_data/sites/XXenergieanbieter.js
.vercel
