---
layout: layout.njk
---
 
<div class="px-20 text-2xl subpixel-antialiased font-light tracking-tighter text-gray-300 "  >
<h1>Choose a category
			</h1>
  </div> 

<div class="px-4 mt-10 md:px-20">
<table class="table-auto leaderboard leaderboard-list">
	{# <caption>Choose a category</caption> #}
	<thead data-sr-only class="h-10 text-gray-300 bg-gray-800 border border-gray-200 border-opacity-50">
		<tr>
			<th>Category</th>
			<th>Site Count</th>
			<th>Last Run Date</th>
		</tr>
	</thead>
	<tbody>
	{%- for key, category in sites %}
		{%- if not category.hide %}
		<tr>
			<td class="px-4 py-2 font-medium text-gray-200 border border-gray-200 border-opacity-50">
				<a class="block" href="{{ ('/' + (category.name or key) | lower | slug + '/') | url }}">{{ category.description or category.name or key }}</a>
			</td>
			<td class="px-4 py-2 font-medium text-gray-200 border border-gray-200 border-opacity-50">
				<span class="count">×{{ category.urls.length }}<span class="leaderboard-hide-sm"> site{% if category.urls.length != 1 %}s{% endif %}</span></span>
			</td>
			<td class="px-4 py-2 font-medium text-gray-200 border border-gray-200 border-opacity-50 leaderboard-hide-sm">
					{% if lastruns[key].timestamp %}<span class="small"><timestamp-ago timestamp="{{ lastruns[key].timestamp }}">{{ lastruns[key].timestamp | displayDate | safe }}</timestamp-ago></span>{% endif %}
			</td>
		</tr>
		{%- endif %}
	{%- endfor %}
	</tbody>
</table>
</div>