<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>E.ON Speedlify {{ sites[vertical].name }}</title>
		<meta name="description" content="Benchmark web pages over time.">
		{# <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> #}

	


{% if vertical %} 
							<!--CSS-STYLE-ALL-->  
							<link rel="stylesheet" href="{{ '/style.css' | url }}">
	{% else %}

							<!--TW-STYLE-ALL--> 
							<link rel="stylesheet" href="{{ '/tw.css' | url }}">
{% endif %}


		<script>
		document.documentElement.classList.add("js");
		</script>
		<script>
		if ("serviceWorker" in navigator)
			navigator.serviceWorker.register("/service-worker.js");
		</script> 
<link rel="dns-prefetch" href="https://cdn.jsdelivr.net">
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
		
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#b91d47">
<meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<!---FakeComment-->


	</head>
	<body class="flex flex-col ">

	<header>
			<div class="w-full bg-gray-800 ">	
				<div class="px-10 py-20 md:px-20 speedlify-hed1">
						<a href="{{ '/' | url }}" class="inline-block text-2xl subpixel-antialiased text-gray-300 fonttracking-tighter ">

{# <picture>
  <source srcset="/assets/img/favicon/logo.webp" type="image/webp">
  	<img src="/assets/img/favicon/logo.png" width="32"  height="32" alt="E.ON Website benchmark">
</picture> #}

<img class="" width="32" height="32" src="/assets/img/logo.svg" alt="web.dev">
					
						Websitebenchmark</a>
 
  

							<div class="flex flex-row mt-3 ">
									<div class="w-24 h-8 text-sm font-semibold text-gray-300 underline ">
										<a href="/cwv/">Web Vitals</a>
									</div>

									<div class="h-8 text-sm font-semibold text-gray-300 underline w-44">
										<a href="/fast/">Make fast websites</a>
									</div>
	

							</div>





				</div>
			</div>	
	</header>
				
	<div class="sticky top-0 flex flex-row w-full" style="position: sticky;">
			<div class="w-2/12 h-1 bg-red-400"> </div>
			<div class="w-4/12 h-1 bg-yellow-400"> </div>
			<div class="w-6/12 h-1 bg-green-400"> </div>
	</div>			 
	<div id="main" class="w-full py-20 bg-gray-700 ">

		

			{# {% if vertical %}{{ vertical }}{% endif %} #}
		<div class="px-20 text-4xl subpixel-antialiased font-light tracking-tighter text-gray-300 "  >
		<div class="text-gray-300 speedlify-subhed2">
			
		
			{% if vertical %}  {{ sites[vertical].description or "Choose a category:" }}   {% endif %}
		
		
			{%- if maxResults %}
				{# Updates <em>at most</em> once every {{ sites[vertical].options.frequency or 60 }} minutes. Only the last {{ maxResults }} result{% if maxResults != 1 %}s{% endif %} (and the oldest result) are shown.
				<br> #}
			<div class="text-sm font-normal tracking-normal text-gray-500 ">Last update, {{ lastruns[vertical].timestamp | displayDateJW | safe }}</div>
			{% endif %}
		
		</div>
		</div>

		{{ content | safe }}



	</div>
 

		<footer  class="bg-gray-800 ">
			<div class="flex flex-row w-full">
			<div class="w-2/12 h-1 bg-red-400"> </div>
			<div class="w-4/12 h-1 bg-yellow-400"> </div>
			<div class="w-6/12 h-1 bg-green-400"> </div>
			</div>
			
			<div class="py-4 pl-4 text-sm text-white bg-gray-600 md:pl-20 opacity-90 ">

<style>
a.ftl:link {color: white;}
a.ftl:visited {color: white;}
</style>
			MIT licensed. Powered by <a class="text-sm text-white ftl visited:text-gray-400" href="https://www.zachleat.com/web/speedlify/">Speedlify</a>, 11ty, Lighthouse 8.0 and Github Actions. 
			<br>Source code on <a  class="text-sm text-white ftl visited:text-gray-400" href="https://github.com/zachleat/speedlify/">GitHub</a>. 
			<br>Set up and managed by JWW.<br>
			<div class="my-3 text-xs ">
			For fast access to the data: install this website as an app on your device.</div>
			</div>
		</footer>
{% if vertical %}
{# {{ vertical }} #}
		<script defer src="{{ '/chartist.js' | url }}"></script>
		<script defer src="{{ '/script.js' | url }}"></script>


{% endif %}
	</body>
</html>